
@font-face {
    font-family: Cabin;
    src: url(../resources/Cabin-Regular.otf);
}
@font-face {
    font-family: WorldCup;
    src: url(../resources/wcfont.ttf);
}


/* Laptop/Tablet (1024px) */
@media only screen and (min-width: 600px) and (orientation: landscape) {
	.app {
		width: 600px;
	}
}


html {
	background-image: rgb(230,109,29); /* Old browsers */
	background-image: -moz-linear-gradient(top, rgba(230,109,29,1) 0%, rgba(255,226,0,1) 100%); /* FF3.6+ */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(230,109,29,1)), color-stop(100%,rgba(255,226,0,1))); /* Chrome,Safari4+ */
	background-image: -webkit-linear-gradient(top, rgba(230,109,29,1) 0%,rgba(255,226,0,1) 100%); /* Chrome10+,Safari5.1+ */
	background-image: -o-linear-gradient(top, rgba(230,109,29,1) 0%,rgba(255,226,0,1) 100%); /* Opera 11.10+ */
	background-image: -ms-linear-gradient(top, rgba(230,109,29,1) 0%,rgba(255,226,0,1) 100%); /* IE10+ */
	background-image: linear-gradient(to bottom, rgba(230,109,29,1) 0%,rgba(255,226,0,1) 100%); /* W3C */
	width: 100%;
  height: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
		overflow: auto;
  zoom: 1;
}

body {
	background-image: url(../resources/slide.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center bottom;
	margin: 0;
	margin-top: -21px;
	padding-bottom: 20px;
	min-height: 100%;
}

.app {
	margin: 0 auto;
}

header h1 {
	font-family: WorldCup;
	text-align: center;
	color: #FFF;
	text-shadow: 0px 0px 10px  #df0b00;
	font-size: 50px;
}



.match {
	margin-bottom:20px;
	height: auto;
	width: 100%;
	background-color: #FFF;
	box-shadow: 1px 1px 2px #555;
	padding-top: 10px;
	padding-bottom: 10px;
}

.team {
	font-family: Cabin;
	width: 50%;
	float: left;
	text-align: center;
	font-size: 2rem;
}

.team .score {
	font-size: 1rem;
}

.team .flag {
	height: 22px;
	width: 33px;
	border: 1px solid #FFF;
	box-shadow: 0 0 1px #000;
}

.data {
	display: block;
	background-color: #4A3;
	clear:left; 
	color: #FFF;
	text-align: center;
}

.data .place {
	padding-left: 2px;
}

.event-ico {
	width: 15px;
	height: 15px;
	background-repeat: no-repeat;
	background-size: 15px;
	padding-left: 17px;
}

span.event-ico.ycard{
	background-image: url('../resources/ycard.png');
}

span.event-ico.rcard{
	background-image: url('../resources/rcard.png');
}

.events {
	font-size: 10px;
	display:none;
}

#sectionsMenu ul {
	
	list-style: none;
	text-align: center;
	padding: 0;
	display: block;
	height: auto;
	background-color: #002b70;
	border-radius: 20px 20px 0px 0px;
	border-bottom: 2px solid #FFF ;
  box-shadow: 0 0 3px #002b52;
}

#sectionsMenu li {
	margin-top: -5px;

	height: auto;
	width: auto;
	padding-top: 10px;
	padding-bottom: 4px;
	padding-left: 10px;
	padding-right: 10px;
	display: inline-block;
	background-color: #002b52;
	border: 2px solid #FFF;
	margin-bottom: 5px;
	border-bottom-width: 0px;
	border-top-width: 0px;
	border-radius: 20px 20px 0px 0px;
	color: #FFF;
  box-shadow: 0 0 3px #002b52;
}

#sectionsMenu li a {
	color: inherit;
	text-decoration: none;
}

#sectionsMenu li:hover ,#sectionsMenu li.active {
	color: #0a487c;
	background-color: #FFF;
}

.match[status="future"] .team{
	opacity: 0.7;
}
.match[status="future"] .score,
.match[status="future"] .teamname[alt="TBD"]{
	display:none;
}

.match[status="in-process"] {
	
}
.match[status="completed"] {
	
}

.content {
	position:relative;
}

.content.loading > * {
	opacity: 0.6;
}

.content.loading .loader {
	display:block;
}

@keyframes colours {
	0% {color: rgba(230,109,29,1);}
	50% {color: rgba(255,226,0,1) ;}
	100% {color: rgba(230,109,29,1);}
}

.loader {
	opacity: 1 !important;
	display:none;
	position:absolute;
	left:40%;
	top:100px;
	font-family: WorldCup;
	font-weight: bold;
	font-size: 35px;
	z-index:1000;

	text-shadow: 0px 0px 10px  #000;

	animation-direction: normal;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-name: colours;
	/*animation-timing-function: ease;*/
}

.empty {
	font-weight: bold;
	text-align: center;
}