@font-face {
    font-family: Cabin;
    src: url(../resources/Cabin-Regular.otf);
}
@font-face {
    font-family: League-Gothic;
    src: url(../resources/LeagueGothic-Regular.otf);
}


/* Laptop/Tablet (1024px) */
@media only screen and (min-width: 500px) and (max-width: 1024px) and (orientation: landscape) {
	.app {
		width: 500px
	}
}


.app {
	margin: 0 auto;
}

p {
	font-family: League-Gothic;
	text-align: center;
}

.match {
	margin-bottom:20px;
	height: auto;
	width: 100%;
	background-color: #FFF;
	box-shadow: 1px 1px 2px #555;
	padding-top: 10px;
	padding-bottom: 10px;
}

.team {
	font-family: Cabin;
	width: 50%;
	float: left;
	text-align: center;
	font-size: 2rem;
}

.team .score {
	font-size: 1rem;
}


ul {
	list-style: none;
}

.event-ico {
	width: 15px;
	height: 15px;
	background-repeat: no-repeat;
	background-size: 15px;
	padding-left: 17px;
}

span.event-ico.ycard{
	background-image: url('../resources/ycard.png');
}

span.event-ico.rcard{
	background-image: url('../resources/rcard.png');
}

.events {
	font-size: 10px;
}

.events.home {
	width: 100%;
	float:left;
}

.events.home b {
	float:right;
}

.events.away {
	width: 100%;
	float:right;
}

