<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Bootcamp World-Cup Fixture Proyect</title>
  <link rel="Stylesheet" href="css/style.css" />
  <link rel="Stylesheet" href="http://fonts.googleapis.com/css?family=Roboto" type="text/css">
  <link rel="Stylesheet" href="css/normaize.css" />

</head>
<body>
	
	<div class="app">
		<header>
			<h1> World Cup Fixture </h1>
		</header>
		<nav id="sectionsMenu">

			<ul>
				<!-- time sorted matches, include the currents matches and live changes check -->
				<li><a href="#matches/today">Today</a></li>
				<!-- points sorted teams -->
				<li><a href="#matches/current">Current</a></li>
				<!-- fixture with all the stages -->
				<li><a href="#matches/tomorrow">Tomorrow</a></li>

				<li><a href="#matches/all">All</a></li>
				
			</ul>
		
		</nav>
		<div class="content loading">
			<div class="loader">Loading</div>
			
		</div>



			<script id='matchTemplate' type='text/template'>
				<div class='team home'> 
					<img class='flag' src='<%= home.team.get('flag') %>' alt=''><br>
					<span class='teamname' alt='<%= home.team.get('code') %>'><%= home.team.get('name') %></span>
					<div class='score'>
						<%= home.goals %>
					</div>
				</div>
				<div class='team away'> 
					<img class='flag' src='<%= away.team.get('flag')  %>' alt=''><br>
					<span class='teamname' alt='<%= away.team.get('code') %>'><%= away.team.get('name') %></span>
					<div class='score'>
						<%= away.goals %>
					</div>
				</div>

				<div class='data'>
					<span class='place'><i><%= loc %></i></span> |
					<span class='date'><%= date %></span>
				</div>
				<div class='events'>
					
				</div>			
			</script>

			<script id='eventTemplate' type='text/template'>
				<span class='event-ico <%= type_of_event %>'></span> <%= player %> 
				<span class='time'> <%= time %>´ </span>
			</script>


		
	</div>
	<script data-main='js/app/main.js' src='js/lib/require.js'></script>
</body>
</html>