<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Bootcamp World-Cup Fixture Proyect</title>
  <link rel="Stylesheet" href="css/style.css" />
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto" type="text/css">
  <link rel="Stylesheet" href="css/normaize.css" />

</head>
<body>
	
	<div class="app">
		<header>
			<h1> World Cup Fixture </h1>
		</header>
		<nav id="sectionsMenu">

			<ul>
				<!-- time sorted matches, include the currents matches and live changes check -->
				<li> Matches Today </li>
				<!-- points sorted teams -->
				<li> Now Playing </li>
				<!-- fixture with all the stages -->
				<li> Countries </li>
				
			</ul>
		
		</nav>
			



			<script id='matchTemplate' type='text/template'>
				<div class='team home'> 
					<img class='flag' src='' alt=''>
					<%= home.team %>
					<div class='score'>
						<%= home.goals %>
					</div>
				</div>
				<div class='team away'> 
					<img class='flag' src='' alt=''>
					<%= away.team %>
					<div class='score'>
						<%= away.goals %>
					</div>
				</div>

				<div class='place'>
					<%= loc %>
				</div>
				<div class='events'>
				</div>			
			</script>


			<script>
			// every player name comes with his cards before name
			// Leonel Messi (yellow card)
			// in case he dont have any 
			// Leonel Messi
			// can be performed creating a simple template for every football player
			</script>


		
	</div>
	<script data-main='js/app/main.js' src='js/lib/require.js'></script>
</body>
</html>